<div class="container px-5 px-sm-0">
  <div class="row">
    <div class='col-md-12'>
      <h2>Following Users</h2>
      <%= render 'users/index', users: @following_users %>
    </div>
  </div>
</div>